<h1>Parent Component</h1>
<!-- <p>Message from Child : {{messageFromChild}}</p> -->
<p>Message 1 from Child: {{ messageFromChild1 }}</p>
<p>Message 2 from Child: {{ messageFromChild2 }}</p>
<app-child [messageFromParent]="messageTochild" (messageToParent)="handleMessageFromChild($event)">
</app-child>

<app-child1 [parentMessage]="writeMsgInParentTS"></app-child1>


<br> <br>
<div>
<h2>Change Detection Starategy</h2>
<button (click)="onIncrement()">Increment (+)</button>
<p>{{counter}}</p>
</div>


<br> <br>
<h2>Add Data below on submit (click)</h2>

Enter Data :
<input type="text" [(ngModel)]="inputText" (keyup)="onKeyUp($event)">
<button (click)="submitInput()">Submit</button>

<div *ngFor="let submittedText of submittedTexts">
  {{ submittedText }}
</div> <br><br>

<nav>
  <h1>Transfer Data from service</h1>
  <button>
  <a routerLink="/sender">Sender</a> </button> &nbsp;
  <button>
  <a routerLink="/receiver">Receiver</a> <br></button>
</nav>
<router-outlet></router-outlet>