<h1>Parent Component</h1>
<!-- <p>Message from Child : {{messageFromChild}}</p> -->
<p>Message 1 from Child: {{ messageFromChild1 }}</p>
<p>Message 2 from Child: {{ messageFromChild2 }}</p>
<app-child [messageFromParent]="messageTochild" (messageToParent)="handleMessageFromChild($event)">
</app-child>

<br> <br>
<h2>Add Data below on submit (click)</h2>

Enter Data :
<input type="text" [(ngModel)]="inputText" (keyup)="onKeyUp($event)">
<button (click)="submitInput()">Submit</button>

<div *ngFor="let submittedText of submittedTexts">
  {{ submittedText }}
</div>